@font-face {
  font-family: 'Akzidenz-Grotesk BQ';
  src: local('Akzidenz-Grotesk BQ Regular'), local('Akzidenz-Grotesk-BQ-Regular'),
      url('~assets/fonts/AkzidenzGroteskBQ/regular/AkzidenzGroteskBQ-Reg.woff2') format('woff2'),
      url('~assets/fonts/AkzidenzGroteskBQ/regular/AkzidenzGroteskBQ-Reg.woff') format('woff'),
      url('~assets/fonts/AkzidenzGroteskBQ/regular/AkzidenzGroteskBQ-Reg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk BQ';
  src: local('Akzidenz-Grotesk BQ Bold'), local('Akzidenz-Grotesk-BQ-Bold'),
      url('~assets/fonts/AkzidenzGroteskBQ/bold/AkzidenzGroteskBQ-Bold.woff2') format('woff2'),
      url('~assets/fonts/AkzidenzGroteskBQ/bold/AkzidenzGroteskBQ-Bold.woff') format('woff'),
      url('~assets/fonts/AkzidenzGroteskBQ/bold/AkzidenzGroteskBQ-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html{ 
  font-size: 10px;/*for using REM units 1rem = 10px*/
}
body{
  font-family: 'Akzidenz-Grotesk BQ', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
  color: $color-gray-dark;
}


.title {
  &__super {
    @apply text-xl font-bold;
    font-stretch: normal;
  }
  &__large {
    @apply text-lg font-bold;
    font-stretch: normal;
    font-style: normal;
  }
}

.body {
  @apply text-body;
  font-stretch: normal;
  font-style: normal;
}

.callout {
  &__small {
    @apply text-sm;
    font-stretch: normal;
    font-style: normal;
    &--regular {
      @extend .callout__small;
      font-weight: normal;
    }
    &--bold {
      @extend .callout__small;
      font-weight: bold;
    }
  }
  &__medium {
    @apply text-md;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
  }
}

.footnote {
  @apply text-xs text-gray-light;
  font-stretch: normal;
  font-style: normal;
}

.caption__small {
  @apply text-2xs font-bold;
  font-stretch: normal;
  font-style: normal;
}


