<template>
  <div
    class="friends__container"
    :class="{ 'friends__container--blurred': blurred }"
  >
    <div
      v-for="friend in friends"
      :key="friend.id"
      :class="{ 'friends__item--disabled': !friend.online }"
      class="friends__item callout__medium"
      @click="choosePlayer(friend)"
    >
      <avatar class="friends__item--avatar" :player="friend" />
      <span class="friends__item--pseudo">{{ friend.pseudo }}</span>
      <span
        :class="{ 'friends__item--online': friend.online }"
        class="friends__item--status"
      />
    </div>
  </div>
</template>

<script>
import Avatar from '@/components/atoms/PlayerAvatar.vue'
export default {
  components: {
    Avatar
  },
  props: {
    friends: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      blurred: false
    }
  },
  methods: {
    choosePlayer(friend) {
      this.blurred = true
      this.$emit('player-chosen', friend)
    }
  }
}
</script>

<style lang="scss" scoped>
.friends {
  &__container {
    @apply h-full flex flex-wrap items-start flex-col transition-opacity duration-200;
    &--blurred {
      @apply pointer-events-none opacity-50;
    }
  }
  &__item {
    @apply w-full flex items-center pr-1.6 justify-between cursor-pointer hover:bg-concrete duration-200 transition-colors;
    height: 7rem;
    &--status {
      @apply inline-block w-1 h-1 rounded-full bg-red-dark;
    }
    &--pseudo {
      @apply flex-1 ml-1.6;
    }
    &--online {
      background-color: rgb(0, 138, 0);
    }
    &--disabled {
      @apply opacity-50 pointer-events-none;
    }
    &:not(:first-of-type) {
      @apply border-t border-concrete;
    }
    &:last-of-type {
      @apply border-b border-concrete;
    }
  }
}
</style>

<style lang="scss">
.friends {
  &__item {
    &--avatar {
      &.avatar__container {
        @apply border-concrete;
      }
    }
  }
}
</style>
