<template>
  <div
    class="matchmaker__wrapper"
    :class="{ animate__fadeOutLeft: animate, animate__fadeInLeft: !animate }"
  >
    <return-button class="matchmaker__return" @click="inviteMode = false">
      {{ inviteMode ? 'Invite player' : 'Matchmaking Lobby' }}
    </return-button>
    <div class="matchmaker__container">
      <div v-show="!flyupOpen" class="matchmaker__content">
        <div class="matchmaker__lobby">
          <p class="matchmaker__username">{{ player.pseudo }}’s lobby</p>
          <img
            class="matchmaker__lobby--status"
            src="@/assets/images/svg/gf-lock.svg"
          />
        </div>
        <p class="matchmaker__game caption__small">
          {{ game.name }}
        </p>
        <div class="matchmaker__players">
          <player-card
            v-for="member in lobby.players"
            :key="member.id"
            :player="member"
            @invite="inviteMode = true"
          />
          <player-card
            v-if="lobby.players.length === 1"
            @invite="inviteMode = true"
          />
        </div>
      </div>
      <flyup-group
        v-model="selectedSettings"
        :settings="game.settings"
        @flyup-toggle="flyupOpen = $event"
      />
      <transition name="fade">
        <div v-if="inviteMode" class="matchmaker__invite">
          <invite-player :friends="friends" @player-chosen="playerChosen" />
        </div>
      </transition>
    </div>
    <base-button
      :disabled="inviteMode || !allPlayersAvailable"
      alt-text="4,021 in Queue"
      @click="playNow"
    >
      Play Now
    </base-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import BaseButton from '@/components/atoms/BaseButton.vue'
import ReturnButton from '@/components/atoms/ReturnButton.vue'

import FlyupGroup from '@/components/molecules/FlyupGroup.vue'
import PlayerCard from '@/components/molecules/PlayerCard.vue'

import InvitePlayer from '@/components/organisms/InvitePlayer.vue'
export default {
  components: {
    BaseButton,
    ReturnButton,
    PlayerCard,
    FlyupGroup,
    InvitePlayer
  },
  data() {
    return {
      selectedSettings: null,
      inviteMode: false,
      flyupOpen: false,
      animate: false
    }
  },
  computed: {
    ...mapState(['game']),
    ...mapState('players', ['player', 'friends', 'lobby']),
    allPlayersAvailable() {
      return this.lobby.players.every(player => player.online)
    }
  },
  async fetch() {
    // eslint-disable-next-line nuxt/no-this-in-fetch-data
    await this.$store.dispatch('players/getFriends')
  },
  methods: {
    playNow(e) {
      this.animate = true
      setTimeout(() => {
        this.$emit('play')
      }, 500)
      setTimeout(() => {
        this.animate = false
      }, 550)
    },
    async playerChosen(friend) {
      await this.$store.dispatch('players/joinLobby', {
        playerId: friend.id,
        lobbyId: this.player.lobby
      })
      this.inviteMode = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/utilities';
.matchmaker {
  &__wrapper {
    @apply h-full flex flex-col relative;
  }
  &__invite {
    @apply flex-1 overflow-scroll absolute w-full h-full bg-sand px-1.6;
    left: 0;
    top: 0;
  }
  &__username {
    @apply text-lg font-bold;
  }
  &__container {
    @apply flex-1 px-1.6 relative flex flex-col;
  }
  &__content {
    @apply flex-1;
  }
  &__return {
    @apply border-b border-concrete mx-1.6;
  }
  &__lobby {
    @apply flex items-center mt-1.6;
    &--status {
      @apply ml-1.4;
    }
  }
  &__game {
    @apply inline-flex justify-center items-center text-white bg-gray-dark rounded-r-full leading-3;
    padding: 0.3rem 0.6rem;
  }
  &__players {
    @apply flex items-start mt-2.4;
    margin-bottom: 3.2rem;
  }
}
</style>
