<template>
  <div
    class="flyup__group"
    :class="{ 'flyup__group--open': openedFlyup !== null }"
  >
    <flyup-item
      v-for="(item, index) in flyups"
      :key="item.id"
      :setting="item"
      :open="item.open"
      @click="onFlyupClick($event, index)"
      @select="onOptionSelect($event, item.label)"
    />
  </div>
</template>

<script>
import FlyupItem from '@/components/atoms/FlyupItem.vue'
export default {
  components: {
    FlyupItem
  },
  props: {
    settings: {
      type: Array,
      required: true
    },
    value: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      flyups: [],
      openedFlyup: null,
      selectedItems: {}
    }
  },
  watch: {
    selectedItems: {
      deep: true,
      immediate: true,
      handler(items) {
        this.$emit('input', items)
      }
    }
  },
  created() {
    this.flyups = this.settings.map(setting => ({ ...setting, open: false }))
    this.settings.forEach(setting => {
      this.selectedItems[setting.label] = setting.options[0]
    })
  },
  methods: {
    onFlyupClick(open, index) {
      if (index !== this.openedFlyup) {
        if (this.openedFlyup !== null) {
          this.flyups[this.openedFlyup].open = false
        }
        this.flyups[index].open = open
        this.openedFlyup = index
      } else {
        this.flyups[index].open = false
        this.openedFlyup = null
      }
      this.$emit('flyup-toggle', this.openedFlyup !== null)
    },
    onOptionSelect(option, item) {
      this.selectedItems[item] = option
    }
  }
}
</script>

<style lang="scss">
.flyup {
  &__item {
    @apply border-t border-concrete;
  }
  &__group--open {
    .flyup__item:first-of-type {
      @apply border-t-0;
    }
  }
}
</style>

<style lang="scss" scoped>
.flyup {
  &__group {
    /* margin-top: 3.2rem; */
    @apply w-full bottom-0 flex flex-col bg-sand;
    transition: height 200ms;
    &--open {
      @apply h-full;
    }
  }
}
</style>
