<template>
  <div class="header__container">
    <Logo />
    <div class="header__menu">
      <p class="header__menu--label callout__small--bold">
        {{ game.name }}
      </p>
      <img
        class="header__menu--icon"
        src="@/assets/images/svg/gf-nav-def.svg"
        alt="Burger menu icon"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Logo from '@/components/atoms/Logo.vue'
export default {
  components: {
    Logo
  },
  computed: {
    ...mapState(['game'])
  }
}
</script>

<style lang="scss" scoped>
.header {
  &__container {
    @apply flex items-center justify-between relative z-20;
  }
  &__menu {
    @apply inline-flex items-center cursor-pointer;
    &--icon {
      @apply px-2.4;
    }
  }
}
</style>
