<template>
  <div
    class="search__wrapper"
    :class="{
      search__found: matchFound,
      search__in: !fadeOut,
      search__out: fadeOut
    }"
  >
    <div class="search__process">
      <div class="search__content">
        <button class="search__return">
          <img src="@/assets/images/svg/gf-arrow-left.svg" alt="Arrow left" />
        </button>
        <p class="search__title callout__medium">Matchmaking Lobby</p>
        <h1 class="search__heading title__super">
          {{ currentStateText.heading }}
        </h1>
        <p class="search__subheading body">
          {{ currentStateText.subheading }}
        </p>

        <div class="search__lobby">
          <p class="search__lobby--text footnote">Lobby</p>
          <div class="search__lobby--avatars">
            <avatar
              v-for="player in lobby.players"
              :key="player.id"
              class="search__lobby--avatar"
              :player="player"
            />
          </div>
        </div>

        <div class="search__info">
          <span class="search__info--underscore" />
          <p
            class="search__info--text footnote"
            v-html="currentStateText.info"
          />
        </div>
      </div>
      <div class="search__background" />
    </div>
    <div class="search__action">
      <base-button
        :primary="matchFound"
        :secondary="!matchFound"
        :icon="matchFound ? 'gf-arrow-right' : 'gf-close'"
        @click="onActionClick"
      >
        {{ currentStateText.button }}
        <template #alt>
          <timer
            :ascending="!matchFound"
            :minutes="matchFound ? 0 : 0"
            :seconds="matchFound ? 20 : 0"
            @OnCounterEnd="onActionClick"
          />
        </template>
      </base-button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import BaseButton from '@/components/atoms/BaseButton.vue'
import Timer from '@/components/atoms/Timer.vue'
import Avatar from '@/components/atoms/PlayerAvatar.vue'
export default {
  components: {
    BaseButton,
    Avatar,
    Timer
  },
  data() {
    return {
      matchFound: false,
      fadeOut: false,
      text: {
        searching: {
          heading: 'Searching for compatible opponents',
          subheading:
            'We’re searching our database of players to pair you with an opponent of similar skill',
          info: '<b>4,021</b> in Queue',
          button: 'Searching...'
        },
        matchFound: {
          heading: 'A match has been found for you!',
          subheading:
            'We’ve found a compatible opponent for you to play Squad Battles with in FIFA 19',
          info:
            'By tapping accept, you agree to play a match that may last for up to 30 minutes.',
          button: 'Accept'
        }
      }
    }
  },
  computed: {
    ...mapState('players', ['lobby']),
    currentStateText() {
      return this.text[this.matchFound ? 'matchFound' : 'searching']
    }
  },
  mounted() {
    setTimeout(() => {
      this.matchFound = true
    }, 5000)
  },
  methods: {
    onActionClick() {
      this.fadeOut = true
      setTimeout(() => {
        this.$emit('cancel')
      }, 1000)
    }
  }
}
</script>

<style lang="scss">
.search {
  &__action {
    .button {
      &__container {
        @apply px-2.4;
      }
      &__icon--container {
        margin-left: 3.3rem;
      }
    }
  }
}
</style>

<style lang="scss" scoped>
.search {
  &__wrapper {
    @apply relative text-white h-full;
  }
  &__return {
    width: 10.5rem;
    height: 10.5rem;
    transform: translateX(-10.5rem);
    @apply cursor-pointer flex justify-center items-center bg-gray-dark -ml-1.6;
    img {
      filter: invert(1);
    }
  }
  &__title {
    @apply mt-4.2 opacity-0;
  }
  &__heading {
    @apply my-2.4 opacity-0;
  }
  &__subheading {
    @apply mb-6 opacity-0;
  }
  &__process {
    @apply px-1.6 mr-2.4 relative;
    padding-bottom: 8rem;
  }
  &__lobby {
    @apply mb-3.6 flex items-center;
    &--text {
      @apply text-white opacity-0;
      margin-right: 3.3rem;
    }
    &--avatars {
      @apply flex items-center;
    }
    &--avatar {
      @apply mr-1.2 transform scale-0;
    }
  }
  &__info {
    @apply flex;
    &--text {
      @apply text-white opacity-0;
    }
    &--underscore {
      @apply bg-white w-1.2 opacity-0;
      height: 0.2rem;
      margin-right: 5.3rem;
      margin-top: 0.6rem;
    }
  }
  &__action {
    @apply relative mr-0 ml-auto right-0 z-40;
    transform: translateX(100%);
    width: 78.4%;
    margin-top: -4.45rem;
    margin-bottom: 2.6rem;
  }
  &__content {
    @apply relative z-10;
  }
  &__background {
    @apply bg-blue w-full h-full absolute left-0 top-0 z-0 transform scale-x-0 origin-left;
  }
}

.search__found {
  .search {
    &__background {
      @apply bg-gray-dark transition-colors duration-200;
    }
    &__process {
      padding-bottom: 6.6rem;
    }
    &__heading {
      margin-right: 2rem;
    }
  }
}

.search__in {
  .search {
    &__return {
      animation: returnButtonAnimation 300ms ease-out forwards 500ms;
    }
    &__title {
      animation: textEnter 300ms ease-out 500ms forwards;
    }
    &__heading {
      animation: textEnter 300ms ease-out 600ms forwards;
    }
    &__subheading {
      animation: textEnter 300ms ease-out 700ms forwards;
    }
    &__lobby {
      &--text {
        animation: textEnter 300ms ease-out 600ms forwards;
      }
      &--avatar {
        animation: avatarAnimation 300ms ease-out 500ms forwards;
      }
    }
    &__info {
      &--text {
        animation: textEnter 300ms ease-out 600ms forwards;
      }
      &--underscore {
        animation: textEnter 300ms ease-out 600ms forwards;
      }
    }
    &__action {
      animation: actionButton 500ms ease-out forwards;
    }
    &__background {
      animation: backgroundEnter 500ms ease-out forwards;
    }
  }
}

.search {
  &__return {
    animation: returnButtonAnimationOut 300ms ease-in forwards;
  }
  &__title {
    animation: textExit 300ms ease-in 500ms forwards;
  }
  &__heading {
    animation: textExit 300ms ease-in 200ms forwards;
  }
  &__subheading {
    animation: textExit 300ms ease-in 100ms forwards;
  }
  &__lobby {
    &--text {
      animation: textExit 300ms ease-in 200ms forwards;
    }
    &--avatar {
      animation: avatarAnimationOut 300ms ease-in forwards;
    }
  }
  &__info {
    &--text {
      animation: textExit 300ms ease-in 200ms forwards;
    }
    &--underscore {
      animation: textExit 300ms ease-in 200ms forwards;
    }
  }
  &__action {
    animation: actionButtonOut 500ms ease-in forwards;
    /* transform: translateX(0); */
  }
  &__background {
    transform: scaleX(1);
    animation: backgroundExit 500ms ease-in forwards 500ms;
  }
}

.search__out {
  .search {
    &__title {
      opacity: 1;
    }
    &__heading {
      opacity: 1;
    }
    &__subheading {
      opacity: 1;
    }
    &__lobby {
      &--text {
        opacity: 1;
      }
    }
    &__info {
      &--text {
        opacity: 1;
      }
      &--underscore {
        opacity: 1;
      }
    }
  }
}
</style>
