<template>
  <div class="card__container">
    <div :class="{ 'card__image--empty': !player }" class="card__image">
      <img v-if="player" :src="player.avatar" alt="Player Image" />
    </div>
    <div class="card__info">
      <p class="card__info--role footnote">
        {{ player && player.leader ? 'Team Leader' : 'Team Player' }} /
      </p>
      <button
        class="card__info--user callout__medium"
        @click="!player ? $emit('invite') : null"
      >
        <span>{{ player ? player.pseudo : 'Invite Player' }}</span>
        <img
          v-if="!player"
          class="card__info--icon"
          src="@/assets/images/svg/gf-caret-right.svg"
          alt="Caret right"
        />
      </button>
      <div v-if="player" class="card__info--points">
        <div class="card__ready caption__small">READY</div>
        <div class="card__gfpoints">
          <svg
            width="11"
            height="12"
            viewBox="0 0 14 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 6.877v7.934h-2.924l-.178-1.419c-1.057 1.22-2.594 1.87-4.17 1.763a6.971 6.971 0 0 1-2.542-.458 6.525 6.525 0 0 1-2.136-1.35 6.191 6.191 0 0 1-1.492-2.309 9.134 9.134 0 0 1-.55-3.262 7.99 7.99 0 0 1 1.966-5.625C3.364.687 5.287-.093 7.262.01a6.919 6.919 0 0 1 4.373 1.384 5.961 5.961 0 0 1 2.196 3.958H9.517c-.23-1.127-1.227-1.903-2.331-1.816a2.152 2.152 0 0 0-1.975 1.129 6.159 6.159 0 0 0-.66 3.094c0 2.604.968 3.906 2.906 3.906a2.574 2.574 0 0 0 1.441-.476c.42-.267.725-.694.847-1.19H7.78V6.877H14z"
              fill="var(--color-red)"
            />
          </svg>
          <p class="card__gfpoints--count">{{ player.gpoints }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    player: {
      type: Object,
      defaut: null
    }
  },
  computed: {
    img() {
      return this.player.avatar
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/utilities';
.card {
  &__container {
    @apply mr-1.6;
  }
  &__image {
    width: 14rem;
    height: 18.7rem;
    border-radius: 0.6rem;
    box-shadow: 0px 2px 12px rgba(107, 107, 101, 0.251748);
    @apply overflow-hidden;
    img {
      @apply object-cover h-full;
    }
    &--empty {
      @apply border border-concrete bg-sand shadow-none;
    }
  }
  &__info {
    &--role {
      @apply mt-1.6;
    }
    &--points {
      display: flex;
      align-items: center;
      @apply flex items-center;
    }
    &--user {
      @apply flex items-center mt-0.6 mb-1.6;
    }
    &--icon {
      @apply w-0.8 h-1.2;
      margin-left: 1.1rem;
    }
  }
  &__gfpoints {
    @apply ml-1.2 flex items-start;
    &--count {
      @apply text-red leading-4 font-bold;
      font-size: 1.1rem;
      font-stretch: normal;
      letter-spacing: -0.05rem;
      margin-left: 0.2rem;
    }
  }
  &__ready {
    border: 0.1rem solid $color-gray-dark;
    padding: 0.15rem 0.5rem;
  }
}
</style>
