<template>
  <button
    class="button__container"
    :class="{
      'button--secondary': secondary,
      'button--primary': primary,
      'button--disabled': disabled
    }"
    @click="$emit('click', $event)"
  >
    <span class="button__text--default callout__small--bold">
      <slot />
    </span>
    <span class="button__text--alt callout__small--regular">
      <slot name="alt">
        {{ altText }}
      </slot>
    </span>
    <span class="button__icon--container">
      <img
        class="button__icon"
        :src="require(`@/assets/images/svg/${icon}.svg`)"
        :alt="icon"
      />
    </span>
  </button>
</template>

<script>
export default {
  props: {
    primary: {
      type: Boolean,
      default: true
    },
    secondary: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    altText: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: 'gf-arrow-right',
      validator(value) {
        return [
          'gf-arrow-right',
          'gf-arrow-left',
          'gf-carret-right',
          'gf-carret-down',
          'gf-close'
        ].includes(value)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/utilities';
.button {
  &__container {
    @apply p-1.6 w-full flex justify-between items-center transition-colors duration-200;
    height: 8.9rem;
  }
  &__text {
    &--default {
      @apply text-white flex-1 text-left;
    }
    &--alt {
      @apply text-white text-right;
    }
  }
  &__icon {
    @apply object-right mr-0.8;
    filter: invert(1);
    max-width: 2.2rem;
    width: fit-content;
    &--container {
      @apply flex justify-end;
      width: 2.2rem;
      margin-left: 6.9rem;
    }
  }
  &--disabled {
    @apply opacity-50 pointer-events-none;
  }
  &--primary {
    @apply bg-blue;
    &:hover {
      @apply bg-blue-dark;
    }
  }
  &--secondary {
    @apply bg-gray-dark;
    &:hover {
      @apply bg-gray-light;
    }
  }
}
</style>
