<template>
  <div
    class="flyup__item"
    :class="{ 'flyup--open': isOpen }"
    @click="onItemClick"
  >
    <p class="flyup__title callout__small--bold">{{ setting.label }}</p>
    <div class="flyup__options">
      <p class="flyup__option callout__small--regular">
        {{ selectedOption.option }}
      </p>
      <p
        v-for="{ option, id } in options"
        :key="id"
        class="flyup__option flyup__option--unselected callout__small--regular"
        @click="selectOption({ option, id })"
      >
        {{ option }}
      </p>
    </div>
    <div class="flyup__caret--container">
      <img
        class="flyup__caret"
        src="@/assets/images/svg/gf-caret-down.svg"
        alt="Caret down"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    open: {
      type: Boolean,
      default: false
    },
    setting: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isOpen: false,
      selectedOption: null
    }
  },
  computed: {
    options() {
      return this.setting.options.filter(
        option => option.id !== this.selectedOption.id
      )
    }
  },
  watch: {
    open: {
      immediate: true,
      handler(newVal) {
        this.isOpen = newVal
      }
    }
  },
  created() {
    this.selectedOption = this.setting.options[0] ?? null
  },
  methods: {
    selectOption(option) {
      this.selectedOption = option
      this.$emit('select', option)
    },
    onItemClick() {
      this.isOpen = !this.isOpen
      this.$emit('click', this.isOpen)
    }
  }
}
</script>

<style lang="scss" scoped>
.flyup {
  &__item {
    @apply flex justify-between items-start overflow-hidden cursor-pointer h-5 bg-sand flex-initial;
  }
  &__title {
    @apply h-5 flex items-center flex-1;
  }
  &__option {
    @apply flex items-center h-5;
    &s {
      @apply flex-1;
    }
    &--unselected {
      @apply transition-transform duration-150;
      &:hover {
        transform: translate3d(0, -0.2rem, 0);
      }
    }
  }
  &__caret {
    @apply h-0.8 transition-transform duration-200;
    &--container {
      @apply h-5 flex items-center justify-center mr-0.8;
      width: fit-content;
    }
  }
  &--open {
    @apply flex-1;
    .flyup {
      &__caret {
        @apply transform rotate-180;
      }
    }
  }
}
</style>
