<template>
  <div class="avatar__container">
    <img class="avatar" :src="player.avatar" :alt="player.psuedo" />
  </div>
</template>

<script>
export default {
  props: {
    player: {
      type: Object,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>
.avatar {
  width: 4.2rem;
  height: 4.2rem;
  @apply rounded-full;
  &__container {
    width: 5.6rem;
    height: 5.6rem;
    @apply rounded-full flex justify-center items-center border-2 border-white;
  }
}
</style>
