<template>
  <div class="return__container" @click="$emit('click')">
    <img
      class="return__icon"
      src="@/assets/images/svg/gf-arrow-left.svg"
      alt="Arrow left"
    />
    <p class="return__page callout__medium"><slot /></p>
  </div>
</template>

<style lang="scss" scoped>
.return {
  &__container {
    @apply flex items-center cursor-pointer;
    height: 5.2rem;
    &:hover {
      .return__icon {
        transform: translateX(0.5rem);
      }
    }
  }
  &__icon {
    @apply mr-2.4 h-1 transition-transform duration-150;
  }
}
</style>
