<template>
  <div class="timer__container callout__small--regular">
    {{ renderedTime }}
  </div>
</template>

<script>
let interval
export default {
  props: {
    minutes: {
      type: Number,
      default: 0
    },
    seconds: {
      type: Number,
      default: 0
    },
    ascending: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      progress: '',
      renderedTime: ''
    }
  },
  watch: {
    minutes() {
      this.resetTimer()
    },
    seconds() {
      this.resetTimer()
    }
  },
  mounted() {
    this.startTimer()
  },
  destroyed() {
    clearInterval(interval)
  },
  methods: {
    twoDigitsNumber(number) {
      return number.toLocaleString('en-US', {
        minimumIntegerDigits: 2,
        useGrouping: false
      })
    },
    resetTimer() {
      clearInterval(interval)
      const time = this.getInitialTime()
      this.renderedTime = `${!this.ascending ? '-' : ''}${this.twoDigitsNumber(
        Math.floor(time / 60)
      )}:${this.twoDigitsNumber(time % 60)}`
      this.startTimer()
    },
    getInitialTime() {
      return this.minutes * 60 + this.seconds
    },
    startTimer() {
      let time = this.getInitialTime()

      interval = setInterval(() => {
        time -= this.ascending ? -1 : 1
        this.progress = (time * 100) / (this.minutes * 60 + this.seconds)
        this.renderedTime = `${
          !this.ascending ? '-' : ''
        }${this.twoDigitsNumber(Math.floor(time / 60))}:${this.twoDigitsNumber(
          time % 60
        )}`
        if (time === 0) {
          this.$emit('OnCounterEnd')
          clearInterval(interval)
        }
      }, 1000)
    }
  }
}
</script>
