<template>
  <div class="layout__default">
    <Header />
    <div class="layout__placeholder">
      <nuxt />
    </div>
  </div>
</template>

<script>
import Header from '@/components/molecules/Header.vue'
export default {
  components: {
    Header
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/utilities';
.layout {
  &__default {
    @apply flex flex-col bg-sand h-screen overflow-x-hidden relative top-0 left-0 w-screen;
  }
  &__placeholder {
    @apply flex-1;
  }
}
</style>
