<template>
  <div class="lobby__wrapper">
    <div class="lobby__images">
      <img
        :class="{ 'lobby__ronaldo--shown': queueStarted }"
        class="lobby__ronaldo"
        src="@/assets/images/png/fifa19-ronaldo.png"
        alt="Ronaldo FIFA 19"
      />
      <img
        v-if="queueStarted"
        class="lobby__gfinity"
        src="@/assets/images/svg/gfinity-g-pos.svg"
        alt="Gfinity G"
      />
    </div>
    <div v-show="!queueStarted" class="lobby__container">
      <matchmaking-settings @play="play" />
    </div>
    <div v-if="queueStarted" class="lobby__search">
      <opponent-search @cancel="cancel" />
    </div>
  </div>
</template>

<script>
import OpponentSearch from '@/components/molecules/OpponentSearch.vue'
import MatchmakingSettings from '@/components/organisms/MatchmakingSettings.vue'

export default {
  components: {
    MatchmakingSettings,
    OpponentSearch
  },
  data() {
    return {
      queueStarted: false
    }
  },
  methods: {
    play() {
      this.queueStarted = true
    },
    cancel() {
      this.queueStarted = false
    }
  }
}
</script>

<style lang="scss" scoped>
.lobby {
  &__wrapper {
    @apply h-full;
  }
  &__container {
    @extend .lobby__search;
    @apply relative;
  }
  &__search {
    @apply h-full flex flex-col z-30;
  }
  &__gfinity {
    @apply absolute w-full h-full z-0 top-0 left-0;
  }
  &__ronaldo {
    @apply absolute z-10 mix-blend-multiply top-0 left-0;
    object-position: 50%;
    transform: translate(46.6%, -45%);
    transition: transform 400ms ease-in-out;
    &--shown {
      @apply origin-top-left;
      transform: translate(4.1rem, 7.9rem);
      /* right: -4.1rem; */
      /* top: 9.7%; */
    }
  }
}
</style>
