:root {
  --color-red: #e94235;
  --color-red-dark: #8b2720;
  --color-blue: #293894;
  --color-blue-dark: #1a245f;

  --color-gray-dark: #1b1b1b;
  --color-gray-light: #6b6b65;
  --color-gray-radial: radial-gradient(circle at 0 50%, #e8e9e3, #cfd1c7);

  --color-concrete: #cfd1c7;
  --color-sand: #dfe0d9;

  --color-white: #fff;
}

$color-red: var(--color-red);
$color-red-dark: var(--color-red-dark);
$color-blue: var(--color-blue);
$color-blue-dark: var(--color-blue-dark);

$color-gray-dark: var(--color-gray-dark);
$color-gray-light: var(--color-gray-light);
$color-gray-radial: var(--color-gray-radial);

$color-concrete: var(--color-concrete);
$color-sand: var(--color-sand);

$color-white: var(--color-white);


